/* ----------------------------------------------------------
				SHAREBOX
---------------------------------------------------------- */

/*
If the content area has relative positioning, the script won't put the tooltip in the right place. Remove the script from the include and use this instead:

Add to appropriate tags below:

	.sharebox{
		position: relative;
	}
	.tooltip {
		position: absolute;
		top:16px;opacity: 0;
		/* display: none; * / //needs to be commented out 
	}
	.share-fb:hover .tooltip,.share-go:hover .tooltip,.share-pi:hover .tooltip,.share-tw:hover .tooltip{
		opacity: 1;z-index: 9999;
		-webkit-transition: opacity 0.3s ease-in-out;
		   -moz-transition: opacity 0.3s ease-in-out;
		     -o-transition: opacity 0.3s ease-in-out;
		        transition: opacity 0.3s ease-in-out;
	}
	.share-fb:hover .tooltip{left:-35px;}
	.share-tw:hover .tooltip{left:-13px;}
	.share-go:hover .tooltip{left:9px;}
		.sharebox-wide .share-go:hover .tooltip{left:25px;}
	.share-pi:hover .tooltip{left:9px;}

*/


.sharebox{
	width:120px;height:31px;
	float:right;
}

.share-method, .share-method a{
	color:#8f8f8f;
	font-size: 10px;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}
.share-method{
	margin:0 0 0 6px;
	float:right;
	display:block;
	cursor:pointer;
}
.share-method span{
	width: 16px;
	height:16px;
	padding:0 0 10px;
	display: block;
	text-indent: -9999px;
}
	.share-fb span{background: url(images/sharebox/share-fb.png) no-repeat 0 0;}
	.share-tw span{background: url(images/sharebox/share-tw.png) no-repeat 0 0;}
	.share-go span{background: url(images/sharebox/share-go.png) no-repeat 0 0;}
	.share-li span{background: url(images/sharebox/share-li.png) no-repeat 0 0;}
	.share-pi span{background: url(images/sharebox/share-pi.png) no-repeat 0 0;}
	.share-em span{background: url(images/sharebox/share-em.png) no-repeat 0 0;}

.tooltip{
	display:none;
	height:58px;width:78px;
	padding:10px;padding-top:27px;
	z-index: 99;
	background:transparent url(images/sharebox/bg-tooltip.png) no-repeat 0 bottom;
	font-size:12px;color:#fff;text-align:center
}
	.share-go .tooltip,.share-tw .tooltip{height:62px;padding-top:23px}

.tooltip #fb-root{width:51px;height:20px;margin:0 auto 12px;text-align:center; }
	a.fb-share{
		width:79px;
		height:15px;
		margin-top: 5px;
		padding:1px 0 0;
		display:block;

		border-bottom:1px solid #e6e7e8;
		border-bottom:1px solid rgba(48,55,64,0.16);
		border-top:1px solid #e6e7e8;
		border-top:1px solid rgba(48,55,64,0.16);

		background:#5e77ad;

		color:#fff;
		font:normal bold 11px/16px "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif !important;
		letter-spacing:normal;
		text-align:center;
	}
